{% extends 'base.html' %}
{% block content %}

<p class="headline pageTop">Task List</p>

{% if not tasks %}
    <div class="text">
        <span class="txt2">
            <p class="blurb">You don't have any tasks yet.</p> 
            <p class="blurb">Click on '<u><a href="{% url 'tasks_create' %}">Add Task</a></u>' to start adding tasks to your project.</p>
        </span>
    </div>
{% endif %}

{% for task in tasks %}
    <div class="card">
        <a href="{% url 'detail' task.id %}">

            <div class="card-content {{task.status_set.first.status}}">
                <span class="card-title">{{ task.name }}</span>
                <p>Description: {{ task.description }} <span class="right">Due Date: {{ task.due_date }}</span></p>
                <p>Status: {{ task.status_set.first.get_status_display }}</p>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}