{% extends 'base.html' %}
{% block content %}

<h1>Task List</h1>

{% for task in tasks %}
    <div class="card">
        <a href="{% url 'detail' task.id %}">

            <div class="card-content">
                <span class="card-title">{{ task.name }}</span>
                <p>Description: {{ task.description }} <span class="right">Due Date: {{ task.due_date }}</span></p>
                <p>Status: {{ task.status_set.first.get_status_display }}</p>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}