
:root {
  --primary-color: rgb(205, 109, 127);
  --secondary-color: rgb(19, 161, 248);
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #EEE2DC;

}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  min-width: 1vw !important;
  text-align: center;
}

.headline {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}

.logoSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rgb(205, 109, 127);
}

.label {
  font-size: 1.25rem;
  color: var(--secondary-color);
}

.blurb {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: bold;
}

.txt1 {
  color: rgb(35, 33, 90);
  padding-right: 15px;
}

.txt2 {
  color:rgb(19, 161, 248);
  padding-right: 15px;
}

.txt3 {
  color: rgb(205, 109, 127);
}

.text {
  text-align: center;
  font-weight: bold;
}

.about {
  font-size: 1.25rem;
}

.quote {
  font-weight: bold;
  font-style: italic;
}

.pageTop {
  padding-top: 60px; 
}

@media (max-width: 800px) {
  .blurb {
    flex-direction: column;
  }

  .txt1 {
    padding-right: 0;
  
  }
  
  .txt2 {
    padding-right: 0;
  }
  
}

@media (max-width: 600px) {
  .pageTop {
    padding-top: 57px;
  }
  .label {
    font-size: 1.1rem;
  }

}