
:root {
  --primary-color: rgb(205, 109, 127);
  --secondary-color: rgb(19, 161, 248);
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #EEE2DC;

}

main {
  flex: 1 0 auto;
}

footer {
  padding-top: 0;
  min-width: 1vw !important;
  text-align: center;
}



label {
  font-size: 1.25rem;
  color: var(--secondary-color);
  font-weight: bold;
}

.headline {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}

.logoSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topLabel {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: bold;
}

.btn {
  background-color: rgb(205, 109, 127);
}


.blurb {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
}

.txt1 {
  color: rgb(35, 33, 90);
  padding-right: 15px;
}

.txt2 {
  color:rgb(19, 161, 248);
  padding-right: 15px;
}

.txt3 {
  color: rgb(205, 109, 127);
}

.text {
  text-align: center;
  font-weight: bold;
}

.about {
  font-size: 1.25rem;
}

.quote {
  font-weight: bold;
  font-style: italic;
}

.pageTop {
  padding-top: 60px; 
}

.detailsTop{
  margin: 5px 0;
}

.photo {
  max-height: 300px;
}

.teammateDetail{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
}

.assignedPhoto {
  max-width: 80px;
  padding-right: 20px;
}

.U {
  background-color: #fff59d;
}

.N {
  background-color: #ffcdd2;
}

.F {
  background-color: #b9f6ca;
}

.carousel-item {
  background-color: #EEE2DC;
}

@media (min-width: 901px) {
  .carousel-item {
    width: 300px !important;
    height: 300px !important;
  }
}
@media (max-width: 900px) {
  .blurb {
    flex-direction: column;
  }

  .logo {
    max-width: 400px;
  }

  .txt1 {
    padding-right: 0;
  
  }
  
  .txt2 {
    padding-right: 0;
  }

  .card-content {
    padding: 10px !important;
  }
  
  .card-action {
    padding: 10px !important;
  }

  .card-panel {
    padding: 10px !important;
  }
}

@media (max-width: 600px) {
  .card-title {
    font-size: 1.25rem;
  }
  blockquote {
    padding-left: 1rem;
  }

  .pageTop {
    padding-top: 57px;
  }
  .label {
    font-size: 1.1rem;
  }
  .btn {
    padding: 0 6px;
  }

}